.table {
  margin: 50px auto;

  &__digit {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;

    &--success {
      background-color: greenyellow;
    }
  }

  &__img {
    width: 50px;
    height: 50px;
  }
}

.directions {
  width: max-content;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-gap: 5px;

  &__step {
    width: 50px;
    height: 50px;
    background-color: gray;
    background-image: url('./img/arrow.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(center, center);

    &--left {
      transform: rotate(180deg);

    }

    &--up {
      transform: rotate(-90deg);
    }

    &--down {
      transform: rotate(90deg);
    }
  }

}
